.filter-bar {
  display: flex;
  /* padding: 10px; */
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 20px;
}
.filter-bar > div {
  margin-bottom: 10px;
}
.filter-bar .label {
  width: 150px;
  color: grey;
}
.filter-bar input[type="text"] {
  background: none;
  border: none;
  color: #FFFC;
  line-height: 100%;
  cursor: pointer;
  transition: color 250ms;
}
.filter-bar input[type="text"]:hover {
  color: #61dafb;
}
.filter-bar input[type="text"]:active,
.filter-bar input[type="text"]:focus {
  outline: none;
}
.filter-bar input#startDate,
.filter-bar input#endDate {
  font-size: 18px;
}


.foldable-settings .container {
  margin: 0;
  padding: 0;
}
.foldable-settings .toggler-area {
  margin-left: 2px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  cursor: pointer;
}
.foldable-settings .toggler-area .label {
  font-style: italic;
  opacity: .5;
  transition: opacity .5s, color .5s;
}
.foldable-settings:hover .toggler-area .label {
  opacity: 1;
}
.foldable-settings .toggler-area:hover .label {
  opacity: 1;
  color: #61dafb;
}







.modal-body .react-datepicker-wrapper {
  display: block;
}
/* .modal-body input {
  background-color: #FFF2;
  color: white;
} */
.modal-body input[disabled] {
  background-color: #FFF0;
  color: white;
}








.entry-list {
  width: 100%;
  overflow: auto;

}

.entry-list-item {
  /* margin: 0 10px; */
  margin-bottom: 4px;
  background-color: #383c44;
  line-height: 100%;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  cursor: default;
  transition: opacity 100ms, background-color 500ms;
}
.entry-list-item.prefUnmet {
  background-color: #5f0c0c;
}
.entry-list-item.prefMet {
  background-color: #1b3b2a;
}
.entry-list-item.empty {
  opacity: .5;
}

.entry-list-item > div {
  /* padding: 10px; */
  line-height: 50px;
  text-align: center;
}

.entry-list-item .username {
  background-color: #FFF2;
  padding: 0 30px;
  flex: 0 0 250px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.entry-list-item .date {
  background-color: #FFF1;
  flex: 0 0 150px;
}
.entry-list-item .duration {
  border-right: 1px solid #FFF1;
  flex: 0 0 100px;
}
.entry-list-item .notes {
  padding-left: 30px;
  flex: 1 1;
  /* font-size: 20px; */
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.entry-list-header .username,
.entry-list-header .date  {
  background: none;
  border-right: 1px solid #FFF1;
} 
.entry-list-header {
  background: #0001;
  border: 1px solid #FFF1;
}

.entry-list-item .buttons {
  font-size: 24px;
  opacity: 0;
  transition: opacity 250ms;
  cursor: pointer;
}
.entry-list-item:hover .buttons {
  opacity: 1;
  display: flex;
}
.entry-list-item .buttons > div {
  color: #b3b3b3;
  display: inline-block;
  line-height: 50px;
  width: 50px;
}
.entry-list-item .buttons > div:hover {
  color: #61dafb;
}
.entry-list-item .buttons > .delete {
  color: #F55;
}